.section {
	width: 50%;
	margin: 0;
	height: 100vh;
	float: left;
	z-index: 0;
}
.sectionLeft {
	background-color: rgb(113, 201, 248);
	position: relative;
	overflow: hidden;
	border: 0 solid black;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}
.sectionLeftDetails {
	max-width: 380px;
	align-self: center;
	padding-bottom: 15px;
	padding-top: 15px;
	z-index: 1;
}
.sectionLeftDetail {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
	z-index: 1;
}
.sectionLeftText {
	vertical-align: text-bottom;
	color: rgb(255, 255, 255);
	white-space: pre-wrap;
	display: inline;
	line-height: 30px;
	margin-left: 15px;
	font-weight: bold;
	font-size: 19px;
	overflow-wrap: break-word;
}
.sectionLeftDetailIcon {
	max-width: 100%;
	height: 1.25em;
	color: rgb(255, 255, 255);
	fill: currentcolor;
	display: inline-block;
}
.sectionRight {
	background-color: rgb(21, 33, 43);
}
.svgTweeter {
	position: absolute;
	max-width: none;
	height: 160vh;
	right: -50vh;
	top: -30vh;
	color: rgba(29, 161, 242, 1);
	fill: currentcolor;
	z-index: 0;
}
