.containerNav {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  position: sticky;
}

.nav {
  margin: auto;
  width: 80%;
  border: solid rgb(230, 236, 240);
  background-color: rgba(255, 255, 255, 1);
  border-width: 1px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: rgb(101, 119, 134);
  font-size: 15px;
  font-weight: bold;
  overflow-wrap: break-word;
  min-width: 0px;
  line-height: 1.3125;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
}

.link:hover {
  color: rgba(29, 161, 242, 1);
}

.svgBird {
  height: 2rem;
  color: rgba(29, 161, 242, 1);
  fill: currentColor;
  position: relative;
  max-width: 100%;
  display: inline-block;
  vertical-align: text-bottom;
}
